<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.minmai.wallet">
    <!-- Required -->
    <permission
        android:name="com.minmai.wallet.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="com.minmai.wallet.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".common.base.MyApplication"
        android:theme="@style/AppTheme">


        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.minmai.wallet.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <meta-data android:name="design_width" android:value="768"/>
        <meta-data android:name="design_height" android:value="1280"/>

        <!-- Rich push 核心功能 since 2.0.6-->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:theme="@style/MyDialogStyle"
            android:exported="false">
        </activity>

        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.minmai.wallet" />
            </intent-filter>
        </activity>

        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":pushcore"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <!-- since 3.0.9 Required SDK 核心功能-->
        <provider
            android:authorities="com.minmai.wallet.DataProvider"
            android:name="cn.jpush.android.service.DataProvider"
            android:process=":pushcore"
            android:exported="false"
            />

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="com.minmai.wallet" />
            </intent-filter>

        </service>
        <!-- since 3.1.0 Required SDK 核心功能-->
        <provider
            android:authorities="com.minmai.wallet.DownloadProvider"
            android:name="cn.jpush.android.service.DownloadProvider"
            android:exported="true"
            />
        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
                <category android:name="com.minmai.wallet" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" android:exported="false"/>
        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name="com.minmai.wallet.common.jpush.MyReceiver"
            android:exported="false"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.minmai.wallet" />
            </intent-filter>
        </receiver>

        <!-- User defined.  For test only  用户自定义接收消息器,3.0.7开始支持,目前新tag/alias接口设置结果会在该广播接收器对应的方法中回调-->
        <receiver android:name=".common.jpush.MyJPushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="com.minmai.wallet"></category>
            </intent-filter>
        </receiver>
        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <meta-data android:name="JPUSH_APPKEY" android:value="34fdf8aada9f4dd965c27e8d" />
        <!--  </>值来自开发者平台取得的AppKey  极光推送结束-->

        <activity android:name=".moudles.ui.main.MainActivity"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".moudles.ui.login.LoginActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_login"
            />
        <activity android:name=".moudles.ui.register.one.RegisterOneActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_register_one"
            />

        <activity android:name=".moudles.ui.register.two.RegisterTwoActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_register_two"
            />

        <activity android:name=".moudles.ui.register.three.RegisterThreeActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_register_three"
            />
        <activity android:name=".moudles.ui.cash.QuickPayActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_quick_pay"
            />
        <activity android:name=".moudles.ui.cash.CardKnowledgeActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_know"
            />
        <activity android:name=".moudles.ui.daterepayment.DateRepayMentActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_date_repayment"
            />
        <activity android:name=".moudles.ui.moist.ShareMoistActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_date_repayment"
            />
        <activity android:name=".moudles.ui.upgrade.UpgradeActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_upgrades"
            />

        <activity android:name=".moudles.ui.savings.AddSavingCardActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_add_card"
            />

        <activity android:name=".moudles.ui.savings.SavingsCardListActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_savingscard"
            />
        <activity android:name=".moudles.ui.cash.CreditCardListActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_creditcard"
            />

        <activity android:name=".moudles.ui.cash.AddCreditCardActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_addcreditcard"
            />
        <activity android:name=".moudles.ui.me.SetupActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_upgrades"
            />
        <activity
            android:name=".moudles.ui.me.ManageAcountActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_manageAcount"
            />

        <activity
            android:name=".moudles.ui.me.UpdateUserPassActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_update_user_pass"
            />

        <activity
            android:name=".moudles.ui.me.SetupPasswordActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_update_user_pass"
            />

        <activity
            android:name=".moudles.ui.forget.ForGetActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_forgot_pass"
            />
        <activity
            android:name=".moudles.ui.me.MessageBoardActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_forgot_pass"
            />
        <activity android:name=".moudles.ui.trade.TransactionActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_trade"
            />
        <activity android:name=".moudles.ui.me.AboutUsActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_trade"
            />
        <activity android:name=".moudles.ui.me.OpinionActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_opinion"
            />
        <activity android:name=".moudles.ui.me.PersonalportraitActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_opinion"
            />
        <activity android:name=".moudles.web.BrowserActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_browser"
            />

        <activity android:name=".moudles.ui.find.WithdrawCashActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_withdraw_cash"
            />
        <activity android:name=".moudles.ui.find.WithdrawCashDetailsActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_withdraw_cash"
            />

        <activity android:name=".moudles.ui.identity.IdentifyOneActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_identify_one"
            />

        <activity android:name=".moudles.ui.identity.IdentifyTwoActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_identify_two"
            />

        <activity android:name=".moudles.ui.identity.IdentifyThreeActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_identify_three"
            />



    </application>

</manifest>